{% extends "base.html" %}
{% block content %}
<form autocomplete="off" action="/search/">
	<div class="searchbar">
		<div id="title"><b>movie soundtracks</b></div>
		_______________________________________________
		<h3>Discover new songs from your favorites.<h3>
		<br>
		<input class="song-input form-control" id="song-input1" type="text" name="song-input" placeholder="Enter a song name to find movie soundtracks by the same artist.">
		<button type="submit" class="btn">
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</div>
</form>
{% endblock %}