.row {
	padding-bottom: 10px;
}

#logo {
	background-color: gray;
	width: 40px;
	height: 40px;
	color: white;
}

#logo:hover {
	text-decoration: none;
}

.header {
	display: inline;
}

#login {
	position: absolute;
	right: 5px;
	top: 20px;
}

#signup {
	position: absolute;
	right: 60px;
	top: 20px;
}

.signup {
	display: inline-block;
}

#title {
	font-size: 36pt;
	padding: 10px;
}

.searchbar {
    text-align: center;
    padding-top: 150px;
  	min-height: 50%;
}

#searchbar-results {
    display: block;
    text-align: center;
  	min-height: 50%;
}

.movies {
	display: block;
}

.song-input {
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

.song {
	display: block;
}

.movie {
	display: block;
}

.ui-autocomplete-input{
	text-align: center;
	width: 60%;
}

.ui-menu.ui-autocomplete{
	z-index: 99!important;
}

.ui-menu-item {
	z-index: 99!important;
	background: white;
}

body {
	/*background-image: url("/static/images/lalaland.jpg");*/
	margin: 10px;
	background-position: center;
	background-color: lightgray;
	font-family: "Georigia", Times, serif;
}

/*body::after {
  content: "";
  background-image: url("/static/images/lalaland.jpg");  
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/